<% include ./partials/header %>

<div class="ui main text container segment">
  <div class="ui left floated huge header">Edit <%= blog.title %></div>
  <form class="ui form" id="delete_button" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
    <button class="ui right floated red button">DELETE</button>
  </form>
  <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" value="<%= blog.title %>">
    </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="blog[image]" value="<%= blog.image %>">
    </div>
    <div class="field">
      <label>Blog content</label>
      <textarea name="blog[body]" required><%= blog.body %></textarea>
    </div>
    <input class="ui positive basic button" type="submit" value="SAVE">
  </form>
</div>

<% include ./partials/footer %>